<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="projectoverview/dependencies::head"></head>
<body class="shards-app-promo-page--1">
<!--Background-->
<div class="welcome d-flex justify-content-center flex-column">


    <!-- Panel for showing the users-->
    <div class="col-md-6">
        <a class="btn btn-primary mb-4" th:href=@{/task/labels(taskId=${taskId})}><i class="fas fa-angle-left"></i> Back to Labels</a>
        <div class="card">
            <div class="card-body">
                <form method="post" th:object="${label}">
                <div class="form-group">
                    <label>Titel</label>
                    <input class="form-control" id="titel"
                           name="title" th:field="*{labelName}" type="text" required>
                    <div class="invalid-feedback"> Please choose a title! </div>
                    <div class="valid-feedback"> Good title! </div>
                </div>
                <br>

                <label>Color</label>
                <select class="custom-select" id="SelectColorDropdown" th:field="*{labelColor}" type="text" required>
                    HTML Colors
                    <option value="">Choose a color</option>
                    <option value="LightGreen">LightGreen</option>
                    <option value="SlateBlue">SlateBlue</option>
                    <option value="Orange">Orange</option>
                    <option value="Tomato">Tomato</option>
                    <option value="Yellow">Yellow</option>
                    <option value="DarkTurquoise">DarkTurquoise</option>
                    <option value="DeepSkyBlue">DeepSkyBlue</option>
                    <option value="SlateGray">SlateGray</option>
                </select>

                <div class="invalid-feedback"> Please choose a color! </div>
                <div class="valid-feedback"> Looking good! </div>

                <br>
                <br>

                <input type="submit" value="Submit" class="btn btn-danger"/>
                </form>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
<!-- include the Footer -->
<th:block th:include="/fragments/footer"></th:block>
</body>
</html>