<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="projectoverview/dependencies::head"></head>
<body class="shards-app-promo-page--1">
<!--Background-->
<div class="welcome d-flex justify-content-center flex-column">


    <!-- Panel for showing the users-->
    <div class="col-md-6">
        <a class="btn btn-primary mb-4" th:href=@{/Project(ProjectId=${projectId})}><i class="fas fa-angle-left"></i> Back to Project</a>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" th:text="${title}">Default Title</h4>

                <!--Form for adding a comment-->
                <div style="margin-bottom: 1rem;">
                    <form method="post" th:object="${comment}">

                        <!-- Email -->
                        <div class="form-group">
                            <label th:for="commentTextarea">Message</label>
                            <textarea th:errorclass="is-invalid" th:field="*{message}" class="form-control" id="commentTextarea" rows="2"></textarea>
                            <p th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="text-danger"></p>
                        </div>

                        <!-- Submit Button-->
                        <input  class="btn btn-primary" type="submit" value="Post Comment" />
                    </form>
                </div>

                <!--table that displays all users of the project-->
                <table class="table">
                    <tr th:each="comment : ${comments}">
                        <td>
                            <p class="comment-date" th:text="${#dates.format(comment.createDate, 'dd-MM-yyyy ''at'' HH:mm')}"></p>
                            <p class="comment-title" th:text="${comment.author.surname} + ' ' + ${comment.author.Lastname} + ' wrote:'"></p>
                            <p class="comment-text" th:utext="${comment.message}"></p>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>


</div>
</body>
<!-- include the Footer -->
<th:block th:include="/fragments/footer"></th:block>
</html>