<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal fade mt-5" id="newListModal" tabindex="-1" role="dialog" data-keyboard="true" data-backdrop="true" >

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header bg-danger">
                <h4 class="text-white mt-1">Create a new list</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="createList">
                    <div class="row">
                        <input type="text" class="form-control" id="listTitle"
                               placeholder="list titel" required>
                    </div>
                    <br>
                    <select class="custom-select" id="SelectColorDropdown">
                      <!-- HTML Colors -->
                        <option selected>Select the color of the list</option>
                        <option value="1">LightGreen</option>
                        <option value="2">SlateBlue</option>
                        <option value="3">Orange</option>
                        <option value="4">Tomato</option>
                        <option value="5">Yellow</option>
                        <option value="6">DarkTurquoise</option>
                        <option value="7">DeepSkyBlue</option>
                        <option value="8">SlateGray</option>
                    </select>
                    <br>
                    <br>
                    <div class="row border-dark">
                        <button type="submit" id="newListModalButton" class="btn btn-danger" data-dismiss="modal">
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>