<!-- Fragement containig the Structure of a list used in Tasklistview -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listfragment</title>
</head>
<body>

<span th:fragment="listFragment">
    <li class="spalte" >
         <div class="spaltenkopf">
                <!--uses contextvariable tasklists from TasklistView when called in TasklistView-->
              <!--/*@thymesVar id="Titel" type="java.lang.String"*/-->
              <p class = "Spaltentitel" th:text="${Titel}"></p>
        </div>
        <!--container der Tasks -->
        <ul class="taskContainer">
        </ul>
    </li>
</span>

</body>
</html>