<!-- Fragement containig the Structure of a list used in Tasklistview -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listfragment</title>
</head>
<body>

<span th:fragment="listFragment">
    <!--/*@thymesVar id="Color" type="java.lang.String"*/-->
    <!--/*@thymesVar id="Id" type="java.lang.String"*/-->
    <li class="spalte" th:style="${Color}" th:id="${Id}">
         <div class="spaltenkopf">
                <!--uses contextvariable tasklists from TasklistView when called in TasklistView-->
             <!--/*@thymesVar id="Titel" type="java.lang.String"*/-->
              <div class="Spaltentitel" th:text="${Titel}" style="color: white;"></div>
             <button type="button" class="listbutton badge mr-3 badge-outline-light"
                     data-target="#editListModal" data-toggle="modal"><i class="fa fa-edit"></i></button>
             <button type="button" class="listbuttondelete badge mr-3 badge-outline-light"
                     data-target="#deleteListModal" data-toggle="modal"><i class="fa fa-trash"></i></button>
         </div>
        <!--container der Tasks -->
        <ul class="taskContainer">
          <!--/*@thymesVar id="tasks" type="de.beatyourtask.beatyourtask.model.Task"*/-->
            <!--suppress ThymeleafVariablesResolveInspection -->
             <li
                     th:each="task : ${taskForList}"
                     th:include="/fragments/TaskFragment :: taskFragment"
                     th:with="Titel=${task.taskName},  Id=idtask_+${task.taskId}, validationId=${taskStat.count}"
                     th:remove="tag"
             />

            <!-- button zum öffnen des Modals zum hinzufügen eines neuen Tasks -->
            <input type="button" class="addTaskButton btn btn-outline-light btn-sm btn-pill" id="addNewTaskButton"
                   value="+" data-toggle="modal"
                   data-target="#AddNewTaskModal"/>
        </ul>
    </li>
</span>

</body>
</html>