<html lang="en" xmlns:th="http://thymeleaf.org/">

<div class="d-flex flex-row with-shadows container bg-light rounded mb-0 w-25 h-100 with-shadows border border-dark">
    <div class="bg-dark rounded"><img th:src="${MonsterPic}" class="with-shadows avatar img-thumbnail bg-light p-0 rounded border-dark border" width="190px" alt="Monster"></div>
    <div class="w-100 p-3 text-center">
        <div class="progress border border-dark h-auto with-shadows">
            <div class="progress-bar bg-danger" role="progressbar"
                 th:style="'width:' + ${currentHp / maxHp * 100} + '%;'"
                 th:aria-valuenow="${currentHp}"
                 aria-valuemin="0"
                 th:aria-valuemax="${maxHp}" th:text="${currentHp} + ' ' + Hp.">
            </div>
        </div>
        <input type="button" class="btn btn-danger p-2 mt-2" value="Kick me" />
    </div>
</div>
</html>