<!-- created by wirefire Spring 19 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mvc="http://www.springframework.org/schema/mvc">

<head>
    <meta charset="UTF-8">
    <title>Project Overview | BeatYourTask</title>
    <!-- include the  header -->
    <th:block th:include="/fragments/header_singed_in"></th:block>
    <!-- End -->
</head>
<body class="shards-app-promo-page--1">
<!-- background -->
<div class="welcome d-flex justify-content-center flex-column">
    <!-- first element -->


    <!-- Features -->
    <!-- begin of the field where the projects are displayed -->
    <div id="cards" class="container mb-2">
        <div class="example col-md-12 ml-auto mr-auto">
            <h3 class="welcome-heading display-4 text-white ml-5">Project Overview</h3>
            <div class="row">
                <!-- dynamic insertion of projects -->
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card">
                        <!-- <img class="card-img-top" th:src="@{/images/selfmade/fancy.jpg}">  If we like to be fancy :D -->
                        <div class="card-body">
                            <h4 class="card-title">{Project 1}</h4>
                            <p class="card-text">{Projectdescription}</p>
                            <a href="#" class="btn btn-danger">Open Project</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 sm-hidden">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Project 2</h4>
                            <p class="card-text">Projectdescription</p>
                            <a href="#" class="btn btn-danger">Open Project</a>
                        </div>
                    </div>
                </div>
                <!-- end dynamic insertion -->

                    <input type="button" class="btn btn-danger mb-4" value="+" name="addProject" />

            </div>
        </div>
    </div>

    <!-- end project field -->


    <!-- / Features -->
</div>

</div>
</body>
<!-- include the header -->
<th:block th:include="/fragments/footer"></th:block>
<!-- End -->
</html>