<!-- created by wirefire Spring 19 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mvc="http://www.springframework.org/schema/mvc">

<head>
    <meta charset="UTF-8">
    <title>Home | BeatYourTask</title>
    <!-- include the header -->
    <th:block th:include="fragments/header_not_singed_in"></th:block>
    <!-- End -->
</head>
<body class="shards-app-promo-page--1">
<!-- background -->
<div class="welcome d-flex justify-content-center flex-column">

    <!-- first element -->
    <div class="example col-lg-8 col-md-10 ml-auto mr-auto">
        <!-- the Heading -->
        <h3 class="welcome-heading display-3 text-white">Our Mission</h3>

        <div id="our-services" class="card p-0">
            <!-- Features -->
            <div class="features py-4 mb-1">
                <div class="container">
                    <div class="row">
                        <div class="feature py-3 col-md-6 d-flex">
                            <div class="icon text-danger mr-3"><i class="fa fa-project-diagram"></i></div>
                            <div class="px-4">
                                <h5>Project Management</h5>
                                <p>With BeatYourTask your employees will do a better job in project management!</p>
                            </div>
                        </div>
                        <div class="feature py-3 col-md-6 d-flex">
                            <div class="icon text-danger mr-3"><i class="fa fa-gamepad"></i></div>
                            <div class="px-4">
                                <h5>Gamification</h5>
                                <p>Our Gamification will increase a leaner engagement, enhances the overall learning
                                    experience for all participants and will lead to an increase in profit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row " >
                        <div class="feature py-0 col-md-6 d-flex">
                            <div class="icon text-danger mr-3"><i class="fa fa-users"></i></div>
                            <div class="px-4">
                                <h5>Motivation</h5>
                                <p>Our application honors great work of every individual in the company. Therefore, we
                                    use a smart gamification based system, which sets clear and measurable goals. You
                                    will stay more positive and celebrate your results! </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Features -->
        </div>
    </div>
</div>
</body>

<!-- include the header -->
<th:block th:include="fragments/footer"></th:block>
<!-- End -->

</html>